In [17]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

## Reading the CSV  files of Customer chrun

In [18]:
df=pd.read_csv(r"C:\Users\omkar\PYTHON_PROJECTS\ZUMMIT\telecom_Chrun_Analysis\GoodData\telecom_Churn_Cleaned_data.csv")
df.head(5)

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,chrun,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_bins_1 - 12,tenure_bins_13 - 24,tenure_bins_25 - 36,tenure_bins_37 - 48,tenure_bins_49 - 60,tenure_bins_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

## Drop unnamed column

In [19]:
df=df.drop('Unnamed: 0',axis=1)

## Here Churn column is the dependent feature
## Other features are independent

In [20]:
x=df.drop('chrun',axis=1)
x.head(5)

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer,PaymentMethod_Credit card,PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_bins_1 - 12,tenure_bins_13 - 24,tenure_bins_25 - 36,tenure_bins_37 - 48,tenure_bins_49 - 60,tenure_bins_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [21]:
y = df['chrun']

## Train Test spilit

In [22]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

### DecisionTreeClassifier

In [23]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [24]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [25]:
y_pred = model_dt.predict(x_test)

In [26]:
y_pred

array([0, 1, 1, ..., 0, 0, 0], dtype=int64)

In [27]:
model_dt.score(x_test,y_test)

0.7803837953091685

In [28]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.84      0.86      0.85      1022
           1       0.61      0.56      0.58       385

    accuracy                           0.78      1407
   macro avg       0.72      0.71      0.72      1407
weighted avg       0.77      0.78      0.78      1407

In [34]:
sm = SMOTEENN(random_state=0)
X_resampled, y_resampled = sm.fit_resample(x,y)

In [35]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [36]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [37]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.9249786871270247
              precision    recall  f1-score   support

           0       0.93      0.91      0.92       556
           1       0.92      0.94      0.93       617

    accuracy                           0.92      1173
   macro avg       0.93      0.92      0.92      1173
weighted avg       0.93      0.92      0.92      1173

In [38]:
print(metrics.confusion_matrix(yr_test, yr_predict))

[[504  52]
 [ 36 581]]

In [39]:
from sklearn.ensemble import RandomForestClassifier
model_rf=RandomForestClassifier(n_estimators=100, criterion='gini', random_state = 100,max_depth=6, min_samples_leaf=8)
model_rf.fit(x_train,y_train)
RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)
y_pred=model_rf.predict(x_test)
model_rf.score(x_test,y_test)

0.7981520966595593

In [40]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.92      0.87      1022
           1       0.69      0.47      0.56       385

    accuracy                           0.80      1407
   macro avg       0.76      0.70      0.71      1407
weighted avg       0.79      0.80      0.78      1407